
.home{
    background-color: #FAFAFA;
}
.home_content{
    display: flex;
    /* justify-content: space-between; */
    overflow-x: hidden;
    background-image: url('./images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position: 630px -175px;

}

.home_header{
    padding: 150px 50px 0 90px;
    flex: 1;
}
.home_image{
    flex: 1;
    margin-right: -100px;
    margin-top: -90px;
}
.header-three{
    font-size: 40px;
    /*color: #FBF9FD;*/
}
.paragraph{
    line-height: 1.8;
    font-size: 16px;
    /*color: #FBFAFD;*/
}

.background{
    position: absolute;
    left: 10%;
    bottom: 20%;
}

.second-image{
bottom:30%
}

.why{
    background-color: #F4F5F7;
    margin-top: -200px;
}

.why_header{
    padding: 50px 70px;
}

.all_whys{
    display: grid;
    margin-top: 25px;
    padding-left: 70px;
    padding-bottom: 50px;
    grid-template-columns: repeat(4, 300px);
    grid-column-gap: 15px;
}

.articles{
    background-color: #FAFAFA;
    padding: 10px 70px;
}

.all_articles{
    display: grid;
    margin-top: 30px;
    padding-bottom: 50px;
    grid-template-columns: repeat(4, 300px);
    grid-column-gap: 20px;
}


@media screen and (max-width: 600px){
    .home_header{
        padding: 10px 0px;
    }
    .home_image{
        margin-right: 0;
        margin-top: -80px;
        display: block;
    }

    .home_image > img {
        width: 100%;
    }
    
    .home_content{
        display: flex;
        flex-direction: column-reverse;
        padding: 40px 30px;
        /* margin-top: 10%; */
    }
  
    .home_header > h3{
        font-size: 20px;
        text-align: center;
    }
    .home_header > p{
        text-align: center;

    }
    .header-three{
        margin: auto;
    }
    
    .btn{
        display: flex;
        justify-content: center;
    }
    .why{
        margin: auto;
    }

    .why_header{
        padding: 50px 35px;
        text-align: center;
    }

    .all_whys{
        display: grid;
        margin-top: 25px;
        padding-left: 35px;
        padding-bottom: 50px;
        grid-template-columns: auto;
        grid-row-gap: 15px;
    }
    .card{
        text-align: center;
    }
    
    .articles{
        background-color: #FAFAFA;
        padding: 10px 40px;
    }
    .all_articles{
        display: grid;
        margin-top: 30px;
        padding-bottom: 50px;
        grid-template-columns: auto;
        grid-row-gap: 25px;
    }
}
